@charset "UTF-8";
@import url(common.css);

main{}

/* 메인1 슬라이더 */
  #main_sliderWrap { overflow: hidden; width: 100%; height: 945px; }
  #sliderList { width: 300%; }
  #sliderList .active { z-index: 1; }
  #sliderList li { width: 33.3333%; height: 945px;
                  float: left;
                  background: no-repeat  center /cover;
                  }
  #sliderList li.slider1 { background-image: url(../images/main1.jpg); }
  #sliderList li.slider2 { background-image: url(../images/main2.png); }
  #sliderList li.slider3 { background-image: url(../images/main3.jpg); }

  /* 슬라이더 좌우버튼 이미지 넣어야함. */
  #btnPos span { position: absolute; top: 112px;
                width: 60px;
                height: calc(100% - 80px);
                color: #fff;

                text-indent: -99999px;}
  #btnPos span.prev { left: 0px; }
  #btnPos span.next { right: 0px; }


/* 예약페이지 */
  #reser { height: 445px; padding-top:85px;
          background: url(../images/reser.jpg) no-repeat center/cover;
          }
  #reser div {margin: 0 auto; width: 1200px;}
  #reser div h3 { font-size: 30px; color:#fff;
                  text-transform: uppercase;
                  font-weight:normal;

                  }
  #reser div>p {
                font-size: 70px; color:#9c7712;
                font-weight: bold;
                line-height: 60px;
                padding:10px 0 60px 0;}
    /* 질문1 공간이동하는 법? 답 라인하이트 */
  #reser div>p>span {font-size: 30px;  color:#fff;
                      margin-top:-20px;
                      }

/* 예약페이지 -폼태그 */
.reser_sec {width: 1200px; height: 55px;

            background-color:#fff;}
.reser_sec fieldset { float:left;}

/* 예약페이지 - 룸타입 */
.reser_room {}
  /* 질문2 디럭스 더블 대신에 room 나오게 하는 법? */


.roomtype {width: 162px; height: 55px;
           border: 0px;}



/* 예약페이지 - 예약날짜 */
.reser_date {width: 542px; height: 55px;
              float: left; }
.reser_date label { text-transform: uppercase;
                    font-size:12px;
                    color: #747474;
                    float: left;
                    margin:19px 25px 0;
                  }
/* 질문2 디자인처럼 나오는법? */
.reser_date input { float: left;
                    width: 133px; height:55px;
                    border: 0px;
                  }
.reser_date>p { float: left;
                margin-left:26px;
                font-size:12px;
                color: #747474;
                margin-top:15px;}
.reser_date>p>span {font-size:16px;}

/* 예약페이지 - 인원 */
.reser_person {width: 380px; height: 55px;
                margin-top:15px;
                text-transform: uppercase;}
.reser_person label { margin: 0 20px;
                      font-size: 12px;
                      color: #747474;}
/* 질문 원래디자인처럼 숫자나오는법 */
.reser_person input {width: 26px;
                      border:0px; }

/* 예약페이지 - 확인버튼 */
.confirm{width: 115px; height: 55px;

        }
.confirm input {  width: 116px; height: 55px;
                  background-color: #9c7712;
                  text-transform: uppercase;
                  border: 0px;
                  font-size: 20px;
                  font-weight: bold; color:#fff;
}

/* 섹션3 경원재 객실 둘러보기 */
#roomtype { width: 1270px; height: 1230px;
              margin:0 auto;
               ;
            }


#roomtype hgroup {position:relative;
  width: 100%; height: 270px;

    /* top:140; left:0; bottom:0; right:0; */

}

#roomtype hgroup h3 {font-size:45px;
font-family: 'Noto Serif KR', serif;
  position:absolute;
  width: 100%; text-align: center;
  bottom:0px;
  padding-bottom: 75px;
 }




#roomtype {width: 1200px; height: 1230px;
              position: relative;
                margin: 0 auto;}
#roomtype ul { height: 30px; text-align: center;

              }
#roomtype ul li {display: inline-block;
                  margin:0 15px;
                  height: 30px;
                }
#roomtype ul li.on {border-bottom: 3px solid #9c7712;}
#roomtype ul li.on a {color:#000;}
#roomtype ul li a {
  font-size: 18px;
  color:#747474;

}
  /* 왜 색깔이 안먹히는걸까 ㅠㅠ */
#roomtype ul li figure
{  height: 630px;
  position: absolute;
  top:330px; left:0;
  width: 1200px; height: 630px;
}
/* #roomtype ul li figure .imgOn {z-index: 888899;} */
#roomtype ul li figure img
{}
#roomtype ul li figure img:nth-child(1)
{ width: 750px; height: 630px;
  float:left;
}
#roomtype ul li figure img:nth-child(2)
{width: 440px; height: 310px;
  margin-bottom: 10px;
  float: right;
}
#roomtype ul li figure img:nth-child(3)
{width: 440px; height: 310px;
float:right;
}
#roomtype ul li:nth-child(2) figure {display: none;}
#roomtype ul li:nth-child(3) figure {display: none;}
#roomtype ul li:nth-child(4) figure {display: none;}
#roomtype ul li:nth-child(5) figure {display: none;}




#restaurant {width: 100%; height: 1050px;
background: url(../images/restaurantBG.jpg) no-repeat center / cover;
position: relative;

}
#rest_2 { width: 1200px; height: 1050px;
margin: 0 auto;}

#rest_2 h2 {color: #fff; font-size: 60px;
  padding-top:90px;
  margin-left: 100px;
  text-shadow:1px 1px 15px #ce9927;
 }
#rest_2 h2>span { color : #9c7712;
  font-size:30px;
  margin-left: 20px;
  font-family: 'Noto Serif KR', serif;
  text-shadow: 0;
  font-weight: normal;
}

.diningbg2 {
  width: 1114px; height: 783px;
  position: absolute; bottom:0; left:calc(50% - 950px);
   background: url(../images/restaurantBG2.jpg) no-repeat center center / cover;
}
.dininginfo {width: 400px; height: 783px;
padding: 439px 0 0 900px; opacity:0;
position: relative;
}
.dininginfo h3 { font-size: 48px;
  position: absolute; top:290px;
  color:#333434;
  }
.dininginfo p { color:#000; font-size: 20px;}
.dininginfo .p1 {
position: absolute; top:250px;
color:#fff;
}
.dininginfo .p2 {
  font-size:40px;
  font-family: "Perpetua Titling MT", serif ;
  position: absolute; top:500px; font-weight: bold;
  line-height: 60px;
  color:#333434;
}
.dininginfo .p3 {
  font-weight: bold; font-size: 20px;
  text-transform: uppercase;
  color:#9c7712;
  position: absolute; top:700px;
}
.dininginfo a {
  width: 400px; height: 47px;
  background-color: #9c7712;
  color:#fff;
  font-size: 20px;
  position: absolute; top: 820px;
  text-indent: 25px;
  line-height: 47px;
}



#special_offer { width: 100%; height: 1470px;
background: url(../images/offerbg.jpg) no-repeat center / cover;
position: relative;
}

.offerbg2 {
  width: 781px; height: 1000px;
   position: absolute; top:307px; left:calc(50% - 652px);
   background: url(../images/offerbg2.jpg) no-repeat bottom left  / cover;
}

#offer_2 { width: 1200px; height: 1470px;
margin: 0 auto;
position: relative;}

#offer_2 h2 {color: #fff;
  font-family: 'Noto Serif KR', serif;
  font-size: 60px;
  padding: 375px 0 0 450px;
  text-transform: uppercase;
  text-shadow:1px 1px 15px #fff;
  /* position: relative;  */
  z-index: 99999;
   }
#offer_2 h2>span {color: #343434;
  font-size: 60px;
  padding: 375px 0 0 20px;
  text-transform: uppercase;
  /* position: relative;  */
  z-index: 99999;
      }


#offer_2 .offer_sub { color : #476278;
  font-size:30px;
  margin: 0px;
  position: absolute; top:350px; left:770px; z-index: 99999;
  font-family: 'Noto Serif KR', serif;
}

#offer_2 .offerinfo
{width: 519px; height: 589px;
margin: 820px 0 0 760px;
position: absolute; top:0; left:0;
width: 400px; height: 783px;
}


/* #offer_2 .offerinfo {width: 400px; height: 783px;
position: relative;
} */
.offerinfo { opacity: 0; padding-left:200px;}
.offerinfo h3 { font-size: 48px;
  position: absolute; top:30px;
  color:#333434;
  }
.offerinfo p { font-size: 20px; }

.offerinfo .pp1 {
position: absolute;
top:0px;
color:#476278;
}
.offerinfo .p2 {
  font-size:35px;
  font-family: "Perpetua Titling MT", serif ;
  position: absolute; top:220px; font-weight: bold;
  letter-spacing: -0.076em;
  line-height: 50px;
  color:#333434;
}

.offerinfo a {
  width: 430px; height: 47px;
  background-color: #476278;
  color:#fff;
  font-size: 20px;
  position: absolute; top: 440px;
  text-indent: 25px;
  line-height: 47px;
}
